body{
    background-color: #2A475E !important; 
}

header{
    background-color: #1B2838;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    
}

.lista{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    
}

.link{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
}

.logo{
    width: 40px;
    height: 40px;
}

.banner{
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
}

.banner img{
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px #0a2240;
}

.aside-links{
    list-style: none;
    width: 100%;
    padding: 0;
}


aside{
    margin-left: 2%;
    width: 20%;
}

aside h6{
    color: #5585BF;
}
.tarjeta {
    display: flex;
    align-items: center;
    background-color: #33475b;
    border-radius: 20px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.tarjeta{
    margin: 5%;
    position: relative;
    top: 50%;
    left: 25%;
}

.fondo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 180px; /* Espacio para la imagen */
    position: relative;
    background: url('imagen-fondo.jpg') center/cover no-repeat;
}

.contenedor-imagen {
    width: 120px;
    height: 120px;
    background-color: #88c0d0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    z-index: 2;
    position: absolute;
    top: 90px;
}

.contenedor-imagen img {
    width: 90%;
    border-radius: 50%;
}

.campos {
    color: white;
    font-family: Arial, sans-serif;
  
}

.campos p {

    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px 0;
    width: 70%;
    font-size: 14px;
}







footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #1B2838;
    color: #ACD550;
    height: 100px;
    
}

footer p{
    width: 50%;
    padding: 0;
    margin: 0;
}