body{
    background-color: #2A475E;
}

header{
    background-color: #1B2838;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    grid-column: 1 / 3;

}

.contenedor{
    display: grid;
    grid-template-columns: 3fr 8fr; /* Dos columnas */
    grid-template-rows: repeat(3, auto); /* Dos filas */
    padding-left: 10px;
}

.lista{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.link{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
}

.logo{
    width: 40px;
    height: 40px;
}

.banner{
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
}

.banner img{
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px #0a2240;
}

.aside-links{
    list-style: none;
    width: 100%;
    padding: 0;
}


aside{
    margin-left: 30%;
    width: 50%;
}

aside h6{
    color: #5585BF;
}

main{
    grid-column: 2/3;
}

main img{
    width: 80%;
    height: auto;
    margin-left: 110px;
}

.contenedor-cards{
    grid-column: 2/2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.card-desc{
    border: none;
    box-shadow: 10px 10px 5px;
}

.card-body{
    background-color: #3079a3;
}

.card-title{
    color: white;
    font-size: 15px;
}
.card-text{
    color: #00a2ff;
    font-size: 13px;
}
.btn{
    background-color: #ACD550;
    font-weight: 500;
    display: flex;
    gap: 5px;
    width: 80%;
    align-items: center;
}

.btn:hover {
    background-color: #6a8d17;
}

.btn:hover h5,
.btn:hover p:nth-child(3){
    color: #ffffff;
}

.btn:hover p:nth-child(2){
    color: rgb(167, 71, 71)
}


.btn p:nth-child(2){
    text-decoration: line-through;
    color: rgb(20, 61, 99);
}

.btn p:nth-child(3){
    color: #2d806b;
}

.btn p , h5{
    margin: 0;
    padding: 0;
}

.banner-2{
    grid-column: 2/3;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.banner-2 img{
    width: 82%;
}

.contenedor-generos{
    grid-column: 2/3;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.item-genero{
    width: 220px;
    height: 200px;
    background-image: linear-gradient(to bottom,rgba(19, 66, 153, 0.603)50%,rgb(0, 112, 177)100%),url("../img/fondo-categorias.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Centra la imagen */
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-genero a{
    width: 50%;
    height: auto;
    background-color: white;
    color: #0077ff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
}

.item-genero:hover a{
    background-color: #ACD550;
    color: #ffffff;
    transition: 0.5s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #1B2838;
    color: #ACD550;
    height: 100px;
    
}

footer p{
    width: 50%;
    padding: 0;
    margin: 0;
}